<!DOCTYPE html>

<html>

<head>
  <meta charset="UTF-8">
  <style>
    {
      % include "index.css" %
    }
  </style>
</head>

<body class="bg-gray-900 text-white flex justify-center p-6">
  <h1 class="text-3xl text-red-400 font-bold underline">
    uv 怎么还不支持 scripts💢
  </h1>
</body>

</html>